@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ApercuRegular';
  src: url('/fonts/apercu/apercu-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuMedium';
  src: url('/fonts/apercu/apercu-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuLight';
  src: url('/fonts/apercu/apercu-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuBold';
  src: url('/fonts/apercu/apercu-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.shadow-custom {
  --tw-shadow: 50px 50px 50px -50px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 50px 50px 50px -50px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}