*.csv filter=lfs diff=lfs merge=lfs -text
ac_phylo.txt filter=lfs diff=lfs merge=lfs -text
ids.json filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
AMINtoSEC.csv filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text