@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@layer base {
    html {
      font-family: "Open Sans";
    }
}

html{
    color: white;
    background-color: #437B7E;
}

